{% extends "base.html" %}

{% block title %}Task List{% endblock %}

{% block content %}
    <h1>My Tasks: List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Deadline</th>
                <th>Assigned To</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.task_title }}</td>
                <td>{{ task.task_status }}</td>
                <td>{{ task.task_priority }}</td>
                <td>{{ task.task_deadline }}</td>
                <td>
                  {% if task.task_assigned_to %}
                      {{ task.task_assigned_to.username }}
                  {% else %}
                      Unassigned
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'task_edit' task.id %}">Edit</a> | 
                  <a href="{% url 'task_delete' task.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% load static %}
    <script src="{% static 'task/js/task_scripts.js' %}"></script>
    {% endblock %}
