{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Tasko - The task Manager</title>
    <!-- Include Sortable.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.6/Sortable.min.js"></script>
    <!-- Include the external CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'task/css/styles.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'task_list' %}">Task List</a> |
    <a href="{% url 'task_create' %}">Create Task</a>
  </nav>

    <h1>Create Task</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Task</button>
    </form>
</body>
</html>
