{% extends "base.html" %}

{% block title %}Task List{% endblock %}

{% block content %}
<h1>Task List</h1>
<div id="kanban">
  <div class="kanban-column">
      <h3>To-Do</h3>
      <div class="task-container" id="todo">
          {% for task in tasks %}
              {% if task.task_status == 'To-Do' %}
              <div class="task" data-id="{{ task.id }}" onclick="openTaskDetails({{ task.id }})">
                  {{ task.task_title }} >> 
                  {% if task.task_assigned_to %}
                    {{ task.task_assigned_to.username }}
                  {% else %}
                    Unassigned
                  {% endif %}
              </div>
              {% endif %}
          {% endfor %}
      </div>
  </div>
  <div class="kanban-column">
      <h3>In Progress</h3>
      <div class="task-container" id="inprogress">
          {% for task in tasks %}
              {% if task.task_status == 'In Progress' %}
              <div class="task" data-id="{{ task.id }}" onclick="openTaskDetails({{ task.id }})">
                {{ task.task_title }} >>
                {% if task.task_assigned_to %}
                  {{ task.task_assigned_to.username }}
                {% else %}
                  Unassigned
                {% endif %}
              </div>
              {% endif %}
          {% endfor %}
      </div>
  </div>
  <div class="kanban-column">
      <h3>Done</h3>
      <div class="task-container" id="done">
          {% for task in tasks %}
              {% if task.task_status == 'Done' %}
              <div class="task" data-id="{{ task.id }}" onclick="openTaskDetails({{ task.id }})">
                {{ task.task_title }} >> 
                {% if task.task_assigned_to %}
                  {{ task.task_assigned_to.username }}
                {% else %}
                  Unassigned
                {% endif %}
              </div>
              {% endif %}
          {% endfor %}
      </div>
  </div>
</div>

<!-- Popup Modal -->
<div id="taskModal" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeTaskDetails()">&times;</span>
      <div id="taskDetails">
          <!-- Task details will be loaded here -->
      </div>
  </div>
</div>

<!-- CSRF Token for AJAX -->
<form method="POST">
  {% csrf_token %}
</form>
<!-- Include the JavaScript file -->
{% load static %}
<script src="{% static 'task/js/scripts.js' %}"></script>
{% endblock %}