{% extends "base.html" %}

{% block title %}{{ board.board_title }}{% endblock %}

{% block content %}
<h1>{{ board.board_title }}</h1>
<!-- Button to Go to Board Settings -->
<a href="{% url 'board_setting' board.id %}">
  <button id="board-settings-button">Board Settings</button>
</a>

<div id="board-columns">
    {% for column in columns %}
    <div class="column">
        <h3>{{ column.column_title }}</h3>
        <ul>
            {% for task in column.tasks.all %}
            <li>{{ task.task_title }} ({{ task.task_status }})</li>
            {% empty %}
            <li>No tasks in this column</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}
