{% extends "base.html" %}

{% block title %}{{ board.title }}{% endblock %}

{% block content %}
<h1>{{ board.title }}</h1>
<p>{{ board.description }}</p>
<div id="kanban">
    {% for column in columns %}
    <div class="kanban-column">
        <h3>{{ column.title }}</h3>
        <div class="task-container">
            {% for task in column.tasks.all %}
            <div class="task">{{ task.task_title }}</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<a href="{% url 'create_column' board.board_id %}">Add New Column</a>
{% endblock %}
